node_modules
npm-debug.log
yarn-error.log
.env
.env-development
.env-production
.env-test
storageState.json
.playwright
.ms-playwright
user-data-dir
test-results
playwright-report
trace.zip
data
logs
.log
.pid
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db